{{template config_path="design/email/header_template"}}
<table>
    <tr>
        {{trans "Topic: %templateVar." templateVar=$templateVar}}
        <p>
            {{trans "Dear %firstName %lastName." firstName=$firstName, lastName=$lastName}}
            {{trans "Your credit status changed to %status." status=$status}}
            {{trans "Reason is %reason" reason=$reason}}
            {{trans "More information in your profile."}}
        </p>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
